header {
      width: 100%;
      height: 115px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header__left {
      display: flex;
      align-items: center;
      
  }
  .logo__busca {
      display: flex;
      align-items: center;
  }
  .img__control {
      width: 40.02px;
      height: 29.17px;
      margin-left: 80px;
      padding-right: 5px;
  }
  .img__alura {
      width: 63.1px;
      height: 18.5px;
  }
  .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      width: 393px;
      height: 40px;
      background-color: #F5F5F5;
      margin-left: 20px;
      border-radius: 20px;
  }
  .input__search {
      flex: 1;
      background-color: #F5F5F5;
      border: none;
      outline: none;
      font-family: var(--fonte--principal);
  }
  .img__lupa {
      padding-right: 15px;
      cursor: pointer;
  }
  
  .btn__login {
      width: 182px;
      height: 51px;
      margin-right: 80px;
      border: solid 1px #2A7AE4;
      color: #2A7AE4;
      background: #ffffff;
      font-family: var(--fonte--principal);
  }
  
  /*=======Responsive==========*/
  
  @media screen and (max-width: 768px){
      .search {
          display: none;
      }
      .header__left {
          width: 100px;
          margin: 0;
      }
      
      .img__control {
          margin-left: 15px;
          width: 30px;
      }
      .img__alura {
          width: 50px;
      }
      .login {
          margin-right: 10px;
      }
      .btn__login {
          margin: 0;
          width: 120px;
          height: 40px;
  
      } 
     
  }